footer {
  background-image: url("../assets/images/bg-contact.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  background-color: lightgray 50%;
  padding: 128px 120px 200px 120px;

  .title p {
    /*cor titulo purple*/
    color: var(--main-purple);
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    font: var(--text-md);
    color: var(--base-gray-500);
    text-align: center;
  }

  .flex-social {
    /*lista de redes sociais*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
  }

  .flex-social-item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 68px;
    padding: 20px;
    border-radius: 8px;
    background: var(--Base-gray-300, #292C34);

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      border-radius: 8px;
      border: 1.5px solid var(--main-blue);
      background: var(--base-gray-300);
    }
  }

  .social-name {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 12px;

    img {
      width: 28px;
      height: 28px;
    }
  }

  span {
    color: var(--base-gray-500);
    font: var(--text-md);
    font-weight: 500;

  }

  img {

    width: 20px;
    height: 20px;


  }

}

@media only screen and (max-width: 768px) {


  footer {
    padding: 80px 20px 20px 20px;
  
  
    .flex-social {
      /*lista de redes sociais*/
      display: flex;
      gap: 16px;
      margin-top: 20px;
    }
  
    .flex-social-item {
      display: flex;
      width: 300px;
      padding: 20px;
    }
  
    }
  
  
  }
