

main {
  background-color: var(--base-gray-200);
 


  .title p{ /*cor do titulo (red)*/
  color: var(--main-red);
  }

  .card {
    width: 330px;
    height: 280px;
    background-color: var(--base-gray-300);
    border-radius: 12px;
    padding: 12px 12px;

    &:hover {
      border: 1.5px solid var(--base-gray-400);
    }


    img {
      width: 306px;
      height: 156px;
      border-radius: 12px;
      margin-bottom: 20px;
    }

  }

  .services {
    background-color: var(--base-gray-100);
    padding: 88px 120px 120px 120px;

    .box {
      width: 280px;
      padding: 20px;
      border-radius: 12px;
      border: 2px solid var(--base-gray-200)
    }
    img{
      margin-bottom: 20px;
    }
  }

}